@{
	ViewData["Title"] = "Product - Success";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Success message -->
<h2>Product Created</h2>
<p>Your product has been succcesfully submitted!</p>
<a asp-action="Create">Create Another Product</a>
